<form th:action="@{/user/new}" method="post" 
		enctype="multipart/form-data" th:object="${user}">
	<div>
		<label th:text="#{user.avatar.file}"></label>
		<input type="file" name="file" accept="image/*"/>
	</div>	
	<div>
		<label th:text="#{user.name}"></label>
		<input type="text" th:field="*{name}" />
		<p th:errors="*{name}"></p>
	</div>
	<div>
		<label>Age: </label>
		<input type="number" th:field="*{age}" />
		<p th:errors="*{age}"></p>
	</div>
	<div>
		<label>username: </label>
		<input type="text" name="username" />
	</div>
	<div>
		<label>password: </label>
		<input type="password" name="password" />
	</div>
	<div>
		<label>Home Address: </label>
		<input type="text" name="homeAddress" />
	</div>
	<div>
		<label>Department: </label>
		<select name="department.id">
			<option th:each="d : ${departmentList}"
			th:value="${d.id}" th:text="${d.name}"/>
		</select>
	</div>
	<div>
		<label>Birthdate: </label>
		<input type="text" name="birthdate" 
		placeholder=" "dd/MM/yyyy"" />
	</div>
	<div>
		<button type="submit">Save</button>
	</div>
</form>